#board{
    position: absolute;
    top: 20vh;
    left: 70vh;
}

.box{
    width: 15vh;
    height: 15vh;
}

.verticleLine{
    width: 2vh;
    height: 15vh;
    background-color: black;
}

.horizontolLine{
    width: 15vh;
    height: 2vh;
    background-color: black;
}

.intersection{
    width: 2vh;
    height: 2vh;
    background-color: black;
}

.boxes{
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    color: white;
}


#resultText{
    font-size: 5em;
    font-weight: 900;
    position: absolute;
    top: 30%;
    left: 25%;
}

#resetBtn{
    position: absolute;
    top: 75%;
    font-size: 2em;
    left: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

#resetBtn:hover{
    box-shadow: 0px 0px 20px;
}

.blur{
    opacity: 40%;
}

#navbar{
    background-color: rgb(121, 119, 119);
    position: relative;
    height: 40px;
    overflow: hidden;
    padding: 0px 15px;
}

.navbarIcons{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.navbarIcons:hover{
    background-color: rgb(252, 253, 253);
    color: black;
}

#loginIcon{
    float: right;
    text-align: center;
    height: 100%;
    padding: 5px 30px;
}

#homeIcon{
    float: left;
    text-align: center;
    height: 100%;
    padding: 5px 3px;
}

#aboutIcon{
    float: right;
    text-align: center;
    height: 100%;
    padding: 5px 3px;
}

body{
    margin: 0px;
}

#comqpScore{
    border: 1px solid red;
    position: absolute;
    top: 40px;
    height: 93%;
    width: 30%;
    background-color: rgb(185, 185, 185);
}

#usqerScore{
    border: 1px solid red;
    position: absolute;
    top: 40px;
    height: 93%;
    width: 30%;
    right: 0%;
    background-color: grey;
}

