body{
    background-color: black;
}

#signup{
    position: absolute;
    height: 50%;
    width: 30%;
    background-color: white;
    top: 20%;
    left: 35%;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(15, 170, 231);
}

#name{
    position: absolute;
    height: 12%;
    width: 80%;
    left: 10%;
    top: 25%;
    border-radius: 5px;
    border: 1px solid black;
}

#username{
    position: absolute;
    height: 12%;
    width: 80%;
    left: 10%;
    top: 45%;
    border-radius: 5px;
    border: 1px solid black;
}

#password{
    position: absolute;
    height: 12%;
    width: 80%;
    left: 10%;
    top: 65%;
    border-radius: 5px;
    border: 1px solid black;
}

#heading{
    position: absolute;
    top: 5%;
    font-size: xx-large;
    left: 40%;
    font-weight: 900;
}

#submit{
    position: absolute;
    height: 10%;
    width: 40%;
    top: 85%;
    left: 30%;
    border-radius: 5px;
    font-size: larger;
    background-color: rgb(9, 207, 2);
}

#submit:hover{
    color: white;
    box-shadow: 0px 0px 10px;
}