<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body style="background-color: rgb(144, 243, 247); padding: 20px;">
    <p style="font-size:x-large; width:80%;">
        <b>Description:</b> This is a simple website made using html and css. Django is used for implementing backend of the website. In this website one can play tic tac toe with the computer. player can either signup and login or just play as a guest (without login). Minimax algorithm is used to make moves from the computers end.
    </p>
    <p style="font-size:x-large; width:80%;">
        <b>Name of the author:</b> Divyanshu Suresh Bhai Motivaras
    </p>
    <p style="font-size:x-large; width:80%;">
        <b>Contact info:</b> 
        <ul style="font-size:x-large ;">
            <li><a href="https://www.linkedin.com/in/divyanshumotivaras">LinkedIn</a></li>
            <li><a href="https://github.com/divyanshu1593">Github</a></li>
            <li>Email: divyanshu1593@gmail.com</li>
        </ul>
    </p>
</body>
</html>