{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
</head>
<body>
    <div id="tic" class="logo">
        TIC
    </div>
    <div id="tac" class="logo">
        TAC
    </div>
    <div id="toe" class="logo">
        TOE
    </div>
    <form action="home">
        <input type="submit" value="play" id="btn">
    </form>
</body>
</html>